@use 'variables' as v;
@use 'mixins' as m;
@use 'sass:color';

.info-card {
    padding: 20px 10px 0;

    width: 180px;
    height: 205px;

    border-radius: 20px;

    background-color: color.adjust(v.$color-white, $alpha: -0.85);
    @include m.d-flex(start, center, nowrap, column, 0, 10px);
    @include m.transition(all);

    &__icon {
        width: 25px;
        height: 25px;
        fill: v.$color-black;
        @include m.transition(fill);
    }

    &__title {
        @include m.font(18px, 500, v.$color-black);
        @include m.transition(color);
    }

    &__desc {
        text-align: center;
        @include m.font(16px, 300, v.$color-black);
        @include m.transition(color);
    }

    &:hover {
        background-color: color.adjust(v.$color-white, $alpha: -0.95);
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;

        .info-card__icon {
            fill: v.$color-white;
        }

        .info-card__title,
        .info-card__desc {
            color: v.$color-white;
        }
    }

    @media (max-width: v.$media_min) {
        width: 140px;
        height: 170px;

        &__title {
            @include m.font(14px, 400, v.$color-black);
        }

        &__desc {
            @include m.font(11px, 300, v.$color-black);
        }
    }
}