@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders';
@use 'sass:color';

%slider-button {
    width: 67px;
    height: 67px;

    border-radius: 20px;
    background-color: color.adjust(v.$color-white, $alpha: -0.85);
    rotate: z 45deg;
    @include m.transition(box-shadow);
}

%slider-button-icon {
    width: 36px;
    height: 23px;
    fill: v.$color-white;
    @include m.transition(fill);
}

.testimonials {
    padding: 100px 0;
    margin: 0 auto;
    @include m.d-flex(start, center, nowrap, column, 0, 90px);

    &__title {
        @include m.font(60px, 400, v.$color-white);

        @media (max-width: v.$media_md) {
            font-size: 35px;
        }
    }

    .slider {
        position: relative;
        height: 500px;

        &__left-btn {
            @extend %slider-button;
            @include m.pos(absolute, 1, -1, top, left, 100px, -100px);

            &-icon {
                @extend %slider-button-icon;
                rotate: z 135deg;
            }
        }

        &__right-btn {
            @extend %slider-button;
            @include m.pos(absolute, 1, -1, top, right, 100px, -100px);

            &-icon {
                @extend %slider-button-icon;
                rotate: z -45deg;
            }
        }

        &__left-btn:hover,
        &__right-btn:hover {
            cursor: pointer;
            box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);

            .slider__left-btn-icon,
            .slider__right-btn-icon {
                fill: v.$color-black;
            }
        }

        &__points {
            @include m.pos(absolute, 1, -1, bottom, left, 0, 50%);
            @include m.d-flex(start, center, nowrap, row, 9px, 0);

            translate: -50% 0;

            &-item {
                width: 13px;
                height: 13px;
                border-radius: 50%;
                background-color: v.$color-white;

                &:hover {
                    cursor: pointer;
                    scale: .7;
                    background-color: v.$color-gray;
                }
            }
        }

        @media (max-width: v.$media_md) {
            height: 300px;

            &__left-btn {
                top: unset;
                bottom: 20px;
                left: 0;
            }

            &__right-btn {
                top: unset;
                bottom: 20px;
                right: 0;
            }

            &__points {
                bottom: 45px;
            }
        }

        @media (max-width: v.$media_min) {
            &__left-btn {
                left: 10px;
            }

            &__right-btn {
                right: 10px;
            }
        }
    }
}